36413-f10.htm
9.1.3.1	E-RAB SETUP REQUEST
9.1.3.2	E-RAB SETUP RESPONSE
9.1.3.3	E-RAB MODIFY REQUEST
9.1.3.4	E-RAB MODIFY RESPONSE
9.1.3.5	E-RAB RELEASE COMMAND
9.1.3.6	E-RAB RELEASE RESPONSE
9.1.3.7	E-RAB RELEASE INDICATION
9.1.3.8	E-RAB MODIFICATION INDICATION
9.1.3.9	E-RAB MODIFICATION CONFIRM
9.1.4.1	INITIAL CONTEXT SETUP REQUEST
9.1.4.3	INITIAL CONTEXT SETUP RESPONSE
9.1.4.4	INITIAL CONTEXT SETUP FAILURE
9.1.4.5	UE CONTEXT RELEASE REQUEST
9.1.4.6	UE CONTEXT RELEASE COMMAND
9.1.4.7	UE CONTEXT RELEASE COMPLETE
9.1.4.8	UE CONTEXT MODIFICATION REQUEST
9.1.4.9	UE CONTEXT MODIFICATION RESPONSE
9.1.4.10	UE CONTEXT MODIFICATION FAILURE
9.1.4.11	UE RADIO CAPABILITY MATCH REQUEST
9.1.4.12	UE RADIO CAPABILITY MATCH RESPONSE
9.1.4.13	UE CONTEXT MODIFICATION INDICATION
9.1.4.14	UE CONTEXT MODIFICATION CONFIRM
9.1.4.15	UE CONTEXT SUSPEND REQUEST
9.1.4.16	UE CONTEXT SUSPEND RESPONSE
9.1.4.17	UE CONTEXT RESUME REQUEST
9.1.4.18	UE CONTEXT RESUME RESPONSE
9.1.4.19	UE CONTEXT RESUME FAILURE
9.1.4.20	CONNECTION ESTABLISHMENT INDICATION
9.1.4.21	RETRIEVE UE INFORMATION
9.1.4.22	UE INFORMATION TRANSFER
9.1.4.23	eNB CP RELOCATION INDICATION
9.1.4.24	MME CP RELOCATION INDICATION
9.1.5.1	HANDOVER REQUIRED
9.1.5.2	HANDOVER COMMAND
9.1.5.3	HANDOVER PREPARATION FAILURE
9.1.5.4	HANDOVER REQUEST
9.1.5.5	HANDOVER REQUEST ACKNOWLEDGE
9.1.5.6	HANDOVER FAILURE
9.1.5.7	HANDOVER NOTIFY
9.1.5.8	PATH SWITCH REQUEST
9.1.5.9	PATH SWITCH REQUEST ACKNOWLEDGE
9.1.5.10	PATH SWITCH REQUEST FAILURE
9.1.5.11	HANDOVER CANCEL
9.1.5.12	HANDOVER CANCEL ACKNOWLEDGE
9.1.5.13	eNB STATUS TRANSFER
9.1.5.14	MME STATUS TRANSFER
9.1.6	PAGING
9.1.7.1	INITIAL UE MESSAGE
9.1.7.2	DOWNLINK NAS TRANSPORT
9.1.7.3	UPLINK NAS TRANSPORT
9.1.7.4	NAS NON DELIVERY INDICATION
9.1.7.4a	NAS DELIVERY INDICATION
9.1.7.5	REROUTE NAS REQUEST
9.1.8.1	RESET
9.1.8.2	RESET ACKNOWLEDGE
9.1.8.3	ERROR INDICATION
9.1.8.4	S1 SETUP REQUEST
9.1.8.5	S1 SETUP RESPONSE
9.1.8.6	S1 SETUP FAILURE
9.1.8.7	ENB CONFIGURATION UPDATE
9.1.8.8	ENB CONFIGURATION UPDATE ACKNOWLEDGE
9.1.8.9	ENB CONFIGURATION UPDATE FAILURE
9.1.8.10	MME CONFIGURATION UPDATE
9.1.8.11	MME CONFIGURATION UPDATE ACKNOWLEDGE
9.1.8.12	MME CONFIGURATION UPDATE FAILURE
9.1.8.13	OVERLOAD START
9.1.8.14	OVERLOAD STOP
9.1.9.1	DOWNLINK S1 CDMA2000 TUNNELLING
9.1.9.2	UPLINK S1 CDMA2000 TUNNELLING
9.1.10	UE CAPABILITY INFO INDICATION
9.1.11.1	TRACE START
9.1.11.2	TRACE FAILURE INDICATION
9.1.11.3	DEACTIVATE TRACE
9.1.12.1	LOCATION REPORTING CONTROL
9.1.12.2	LOCATION REPORT FAILURE INDICATION
9.1.12.3	LOCATION REPORT
9.1.13.1	WRITE-REPLACE WARNING REQUEST
9.1.13.2	WRITE-REPLACE WARNING RESPONSE
9.1.13.3	KILL REQUEST
9.1.13.4	KILL RESPONSE
9.1.13.5	PWS RESTART INDICATION
9.1.13.6	PWS FAILURE INDICATION
9.1.14	eNB DIRECT INFORMATION TRANSFER
9.1.15	MME DIRECT INFORMATION TRANSFER
9.1.16	eNB CONFIGURATION TRANSFER
9.1.17	MME CONFIGURATION TRANSFER
9.1.18	CELL TRAFFIC TRACE
9.1.19.1	DOWNLINK UE ASSOCIATED LPPA TRANSPORT
9.1.19.2	UPLINK UE ASSOCIATED LPPA TRANSPORT
9.1.19.3	DOWNLINK NON UE ASSOCIATED LPPA TRANSPORT
9.1.19.4	UPLINK NON UE ASSOCIATED LPPA TRANSPORT
9.1.20.1	SECONDARY RAT DATA USAGE REPORT
9.2.1.1	Message Type *
9.2.1.2	E-RAB ID *
9.2.1.3	Cause *
9.2.1.3a	RRC Establishment Cause *
9.2.1.4	Trace Activation *
9.2.1.6	Target ID *
9.2.1.7	Source eNB to Target eNB Transparent Container *
9.2.1.8	Target eNB to Source eNB Transparent Container *
9.2.1.13	Handover Type *
9.2.1.14	Extended RNC-ID *
9.2.1.15	E-RAB Level QoS Parameters *
9.2.1.16	Paging DRX *
9.2.1.18	GBR QoS Information *
9.2.1.19	Bit Rate *
9.2.1.20	UE Aggregate Maximum Bit Rate *
9.2.1.21	Criticality Diagnostics *
9.2.1.22	Handover Restriction List *
9.2.1.23	CDMA2000-PDU *
9.2.1.24	CDMA2000 RAT Type *
9.2.1.25	CDMA2000 Sector ID *
9.2.1.26	Security Context *
9.2.1.27	UE Radio Capability *
9.2.1.28	CDMA2000 HO Status *
9.2.1.29	CDMA2000 HO Required Indication *
9.2.1.31	eNB Status Transfer Transparent Container *
9.2.1.32	COUNT Value *
9.2.1.33	CDMA2000 1xRTT RAND *
9.2.1.34	Request Type *
9.2.1.35	CDMA2000 1xRTT SRVCC Info *
9.2.1.36	E-RAB List *
9.2.1.37	Global eNB ID *
9.2.1.38	E-UTRAN CGI *
9.2.1.39	Subscriber Profile ID for RAT/Frequency priority *
9.2.1.40	UE Security Capabilities *
9.2.1.41	Security Key *
9.2.1.42	UE History Information *
9.2.1.43	Last Visited Cell Information *
9.2.1.43a	Last Visited E-UTRAN Cell Information *
9.2.1.43b	Last Visited GERAN Cell Information *
9.2.1.44	Message Identifier *
9.2.1.45	Serial Number *
9.2.1.46	Warning Area List *
9.2.1.47	Emergency Area ID *
9.2.1.48	Repetition Period *
9.2.1.49	Number of Broadcasts Requested *
9.2.1.50	Warning Type *
9.2.1.51	Warning Security Information *
9.2.1.52	Data Coding Scheme *
9.2.1.53	Warning Message Contents *
9.2.1.54	Broadcast Completed Area List *
9.2.1.55	Inter-system Information Transfer Type *
9.2.1.56	Source To Target Transparent Container *
9.2.1.57	Target To Source Transparent Container *
9.2.1.58	SRVCC Operation Possible *
9.2.1.59	SRVCC HO Indication *
9.2.1.60	Allocation and Retention Priority *
9.2.1.61	Time to wait *
9.2.1.62	CSG Id *
9.2.1.64	MS Classmark 2 *
9.2.1.65	MS Classmark 3 *
9.2.1.66	Cell Type *
9.2.1.69	E-UTRAN Round Trip Delay Estimation Info *
9.2.1.70	Broadcast Cancelled Area List *
9.2.1.71	Number of Broadcasts *
9.2.1.72	Concurrent Warning Message Indicator *
9.2.1.73	CSG Membership Status *
9.2.1.74	Cell Access Mode *
9.2.1.75	Extended Repetition Period *
9.2.1.76	Data Forwarding Not Possible *
9.2.1.77	PS Service Not Available *
9.2.1.78	Paging Priority *
9.2.1.79	Relay Node Indicator *
9.2.1.80	Correlation ID *
9.2.1.81	MDT Configuration *
9.2.1.82	MME Relay Support Indicator *
9.2.1.83	Management Based MDT Allowed *
9.2.1.84	GW Context Release Indication *
9.2.1.85	Voice Support Match Indicator *
9.2.1.86	M3 Configuration *
9.2.1.87	M4 Configuration *
9.2.1.88	M5 Configuration *
9.2.1.89	MDT PLMN List *
9.2.1.90	COUNT Value Extended *
9.2.1.91	Kill-all Warning Messages Indicator *
9.2.1.92	LHN ID *
9.2.1.93	User Location Information *
9.2.1.94	MBSFN-ResultToLog *
9.2.1.95	EARFCN *
9.2.1.96	Expected UE Behaviour *
9.2.1.97	Expected UE Activity Behaviour *
9.2.1.98	UE Radio Capability for Paging *
9.2.1.99	ProSe Authorized *
9.2.1.100	COUNT Value for PDCP SN Length 18 *
9.2.1.101	M6 Configuration *
9.2.1.102	M7 Configuration *
9.2.1.103	Assistance Data for Paging *
9.2.1.104	Assistance Data for Recommended Cells *
9.2.1.105	Information on Recommended Cells and eNBs for Paging *
9.2.1.106	Recommended Cells for Paging *
9.2.1.107	Recommended eNBs for Paging *
9.2.1.108	Assistance Data for CE capable UEs *
9.2.1.109	Cell Identifier and Coverage Enhancement Level *
9.2.1.110	Paging Attempt Information *
9.2.1.111	Paging eDRX Information *
9.2.1.112	UE Retention Information *
9.2.1.113	UE User Plane CIoT Support Indicator *
9.2.1.114	NB-IoT Default Paging DRX *
9.2.1.115	NB-IoT Paging eDRX Information *
9.2.1.116	Bearer Type *
9.2.1.117	RAT Type *
9.2.1.118	CE-mode-B Support Indicator *
9.2.1.119	SRVCC Operation Not Possible *
9.2.1.120	V2X Services Authorized *
9.2.1.121	Served DCNs Items *
9.2.1.122	UE Sidelink Aggregate Maximum Bit Rate *
9.2.1.123	Enhanced Coverage Restricted *
9.2.1.124	Secondary RAT Usage Report List *
9.2.1.125	Handover Flag *
9.2.1.126	Extended Bit Rate *
9.2.1.127	NR UE Security Capabilities *
9.2.1.128	UE Application layer measurement configuration *
9.2.1.129	CE-mode-B Restricted *
9.2.2.1	Transport Layer Address *
9.2.2.2	GTP-TEID *
9.2.2.3	Tunnel Information *
9.2.3.1	LAI *
9.2.3.2	RAC *
9.2.3.3	MME UE S1AP ID *
9.2.3.4	eNB UE S1AP ID *
9.2.3.5	NAS-PDU *
9.2.3.6	S-TMSI *
9.2.3.7	TAC *
9.2.3.8	PLMN Identity *
9.2.3.9	GUMMEI *
9.2.3.10	UE Identity Index value *
9.2.3.11	IMSI *
9.2.3.12	MMEC *
9.2.3.13	UE Paging Identity *
9.2.3.14	DL Forwarding *
9.2.3.15	Direct Forwarding Path Availability *
9.2.3.16	TAI *
9.2.3.17	Relative MME Capacity *
9.2.3.18	UE S1AP ID pair *
9.2.3.19	Overload Response *
9.2.3.20	Overload Action *
9.2.3.21	CS Fallback Indicator *
9.2.3.22	CN Domain *
9.2.3.23	RIM Transfer *
9.2.3.24	RIM Information *
9.2.3.25	RIM Routing Address *
9.2.3.26	SON Configuration Transfer *
9.2.3.27	SON Information *
9.2.3.28	SON Information Reply *
9.2.3.29	X2 TNL Configuration Info *
9.2.3.30	NAS Security Parameters from E-UTRAN *
9.2.3.31	NAS Security Parameters to E-UTRAN *
9.2.3.32	LPPa-PDU *
9.2.3.33	Routing ID *
9.2.3.34	Time Synchronisation Info *
9.2.3.36	Traffic Load Reduction Indication *
9.2.3.37	Additional CS Fallback Indicator *
9.2.3.38	Masked IMEISV *
9.2.3.39	SON Information Report *
9.2.3.40	RLF Report Information *
9.2.3.41	Muting Pattern Information *
9.2.3.42	Synchronisation Information *
9.2.3.43	Listening Subframe Pattern *
9.2.3.44	MME Group ID *
9.2.3.45	Additional GUTI *
9.2.3.46	Extended UE Identity Index Value *
9.2.3.47	NB-IoT UE Identity Index Value *
9.2.3.48	DL NAS PDU Delivey Request *
9.2.3.49	DL CP Security Information *
9.2.3.50	UL CP Security Information *
end
