36423-f20.htm
9.1.1.1	HANDOVER REQUEST
9.1.1.2	HANDOVER REQUEST ACKNOWLEDGE
9.1.1.3	HANDOVER PREPARATION FAILURE
9.1.1.4	SN STATUS TRANSFER
9.1.1.5	UE CONTEXT RELEASE
9.1.1.6	HANDOVER CANCEL
9.1.2.1	LOAD INFORMATION
9.1.2.2	ERROR INDICATION
9.1.2.3	X2 SETUP REQUEST
9.1.2.4	X2 SETUP RESPONSE
9.1.2.5	X2 SETUP FAILURE
9.1.2.6	RESET REQUEST
9.1.2.7	RESET RESPONSE
9.1.2.8	ENB CONFIGURATION UPDATE
9.1.2.9	ENB CONFIGURATION UPDATE ACKNOWLEDGE
9.1.2.10	ENB CONFIGURATION UPDATE FAILURE
9.1.2.11	RESOURCE STATUS REQUEST
9.1.2.12	RESOURCE STATUS RESPONSE
9.1.2.13	RESOURCE STATUS FAILURE
9.1.2.14	RESOURCE STATUS UPDATE
9.1.2.15	MOBILITY CHANGE REQUEST
9.1.2.16	MOBILITY CHANGE ACKNOWLEDGE
9.1.2.17	MOBILITY CHANGE FAILURE
9.1.2.18	RLF INDICATION
9.1.2.19	HANDOVER REPORT
9.1.2.20	CELL ACTIVATION REQUEST
9.1.2.21	CELL ACTIVATION RESPONSE
9.1.2.22	CELL ACTIVATION FAILURE
9.1.2.23	X2 RELEASE
9.1.2.24	X2AP MESSAGE TRANSFER
9.1.2.25	X2 REMOVAL REQUEST
9.1.2.26	X2 REMOVAL RESPONSE
9.1.2.27	X2 REMOVAL FAILURE
9.1.2.28	RETRIEVE UE CONTEXT REQUEST
9.1.2.29	RETRIEVE UE CONTEXT RESPONSE
9.1.2.30	RETRIEVE UE CONTEXT FAILURE
9.1.2.31	EN-DC X2 SETUP REQUEST
9.1.2.32	EN-DC X2 SETUP RESPONSE
9.1.2.33	EN-DC X2 SETUP FAILURE
9.1.2.34	EN-DC CONFIGURATION UPDATE
9.1.2.35	EN-DC CONFIGURATION UPDATE ACKNOWLEDGE
9.1.2.36	EN-DC CONFIGURATION UPDATE FAILURE
9.1.2.37	EN-DC CELL ACTIVATION REQUEST
9.1.2.38	EN-DC CELL ACTIVATION RESPONSE
9.1.2.39	EN-DC CELL ACTIVATION FAILURE
9.1.2.40	EN-DC X2 REMOVAL REQUEST
9.1.2.41	EN-DC X2 REMOVAL RESPONSE
9.1.2.42	EN-DC X2 REMOVAL FAILURE
9.1.3.1	SENB ADDITION REQUEST
9.1.3.2	SENB ADDITION REQUEST ACKNOWLEDGE
9.1.3.3	SENB ADDITION REQUEST REJECT
9.1.3.4	SENB RECONFIGURATION COMPLETE
9.1.3.5	SENB MODIFICATION REQUEST
9.1.3.6	SENB MODIFICATION REQUEST ACKNOWLEDGE
9.1.3.7	SENB MODIFICATION REQUEST REJECT
9.1.3.8	SENB MODIFICATION REQUIRED
9.1.3.9	SENB MODIFICATION CONFIRM
9.1.3.10	SENB MODIFICATION REFUSE
9.1.3.11	SENB RELEASE REQUEST
9.1.3.12	SENB RELEASE REQUIRED
9.1.3.13	SENB RELEASE CONFIRM
9.1.3.14	SENB COUNTER CHECK REQUEST
9.1.4.1	SGNB ADDITION REQUEST
9.1.4.2	SGNB ADDITION REQUEST ACKNOWLEDGE
9.1.4.3	SGNB ADDITION REQUEST REJECT
9.1.4.4	SGNB RECONFIGURATION COMPLETE
9.1.4.5	SGNB MODIFICATION REQUEST
9.1.4.6	SGNB MODIFICATION REQUEST ACKNOWLEDGE
9.1.4.7	SGNB MODIFICATION REQUEST REJECT
9.1.4.8	SGNB MODIFICATION REQUIRED
9.1.4.9	SGNB MODIFICATION CONFIRM
9.1.4.10	SGNB MODIFICATION REFUSE
9.1.4.11	SGNB RELEASE REQUEST
9.1.4.12	SGNB RELEASE REQUEST ACKNOWLEDGE
9.1.4.13	SGNB RELEASE REQUEST REJECT
9.1.4.14	SGNB RELEASE REQUIRED
9.1.4.15	SGNB RELEASE CONFIRM
9.1.4.16	SGNB COUNTER CHECK REQUEST
9.1.4.17	SGNB CHANGE REQUIRED
9.1.4.18	SGNB CHANGE CONFIRM
9.1.4.19	SGNB CHANGE REFUSE
9.1.4.20	SECONDARY RAT DATA USAGE REPORT
9.1.4.21	RRC TRANSFER
9.1.4.22	PARTIAL RESET REQUIRED
9.1.4.23	PARTIAL RESET CONFIRM
9.1.4.24	E-UTRA – NR CELL RESOURCE COORDINATION REQUEST
9.1.4.25	E-UTRA – NR CELL RESOURCE COORDINATION RESPONSE
9.1.4.26	SGNB ACTIVITY NOTIFICATION
9.2.1	GTP Tunnel Endpoint
9.2.2	Trace Activation
9.2.3	Handover Restriction List
9.2.4	PLMN Identity
9.2.5	DL Forwarding
9.2.6	Cause
9.2.7	Criticality Diagnostics
9.2.8	Served Cell Information
9.2.9	E-RAB Level QoS Parameters
9.2.10	GBR QoS Information
9.2.11	Bit Rate
9.2.12	UE Aggregate Maximum Bit Rate
9.2.13	Message Type
9.2.14	ECGI
9.2.15	COUNT Value
9.2.16	GUMMEI
9.2.17	UL Interference Overload Indication
9.2.18	UL High Interference Indication
9.2.19	Relative Narrowband Tx Power (RNTP)
9.2.20	GU Group Id
9.2.21	Location Reporting Information
9.2.22	Global eNB ID
9.2.23	E-RAB ID
9.2.24	eNB UE X2AP ID
9.2.25	Subscriber Profile ID for RAT/Frequency priority
9.2.26	EARFCN
9.2.27	Transmission Bandwidth
9.2.28	E-RAB List
9.2.29	UE Security Capabilities
9.2.30	AS Security Information
9.2.31	Allocation and Retention Priority
9.2.32	Time To Wait
9.2.33	SRVCC Operation Possible
9.2.34	Hardware Load Indicator
9.2.35	S1 TNL Load Indicator
9.2.36	Load Indicator
9.2.37	Radio Resource Status
9.2.38	UE History Information
9.2.39	Last Visited Cell Information
9.2.40	Last Visited E-UTRAN Cell Information
9.2.41	Last Visited GERAN Cell Information
9.2.42	Cell Type
9.2.43	Number of Antenna Ports
9.2.44	Composite Available Capacity Group
9.2.45	Composite Available Capacity
9.2.46	Cell Capacity Class Value
9.2.47	Capacity Value
9.2.48	Mobility Parameters Information
9.2.49	Mobility Parameters Modification Range
9.2.50	PRACH Configuration
9.2.51	Subframe Allocation
9.2.52	CSG Membership Status
9.2.53	CSG ID
9.2.54	ABS Information
9.2.55	Invoke Indication
9.2.56	MDT Configuration
9.2.58	ABS Status
9.2.59	Management Based MDT Allowed
9.2.60	MultibandInfoList
9.2.61	M3 Configuration
9.2.62	M4 Configuration
9.2.63	M5 Configuration
9.2.64	MDT PLMN List
9.2.65	EARFCN Extension
9.2.66	COUNT Value Extended
9.2.67	Extended UL Interference Overload Info
9.2.68	RNL Header
9.2.69	Masked IMEISV
9.2.70	Expected UE Behaviour
9.2.71	Expected UE Activity Behaviour
9.2.72	SeNB Security Key
9.2.73	SCG Change Indication
9.2.74	CoMP Information
9.2.75	CoMP Hypothesis Set
9.2.76	RSRP Measurement Report List
9.2.77	Dynamic DL transmission information
9.2.78	ProSe Authorized
9.2.79	CSI Report
9.2.80	Wideband CQI
9.2.81	Subband CQI
9.2.82	COUNT Value for PDCP SN Length 18
9.2.83	LHN ID
9.2.84	Correlation ID
9.2.85	UE Context Kept Indicator
9.2.86	eNB UE X2AP ID Extension
9.2.87	M6 Configuration
9.2.88	M7 Configuration
9.2.89	Tunnel Information
9.2.90	X2 Benefit Value
9.2.91	Resume ID
9.2.92	Bearer Type
9.2.93	V2X Services Authorized
9.2.94	Offset of NB-IoT Channel Number to EARFCN
9.2.95	WT ID
9.2.96	WT UE XwAP ID
9.2.97	UE Sidelink Aggregate Maximum Bit Rate
9.2.98  NR Neighbour Information
9.2.99	Extended Bit Rate
9.2.100	en-gNB UE X2AP ID
9.2.101	SgNB Security Key
9.2.102	Target SgNB ID Information
9.2.103	SCG Configuration Query
9.2.104	Delivery Status
9.2.106	NR Frequency Info
9.2.107	NR UE Security Capabilities
9.2.108	EN-DC Resource Configuration
9.2.109	PDCP Change Indication
9.2.110	Served NR Cell Information
9.2.111	NR CGI
9.2.112	Global en-gNB ID
9.2.113	NR Carrier Information
9.2.114	NR Transmission Bandwidth
9.2.115	Cell Assistance Information
9.2.116	MeNB Resource Coordination Information
9.2.117	SgNB Resource Coordination Information
9.2.118	UL Configuration
9.2.119	 RLC Mode
9.2.120	Secondary RAT Usage Report List
9.2.121	UE Application layer measurement configuration
9.2.122	DRB ID
9.2.123	SUL Information
9.2.124	Packet Loss Rate
9.2.125	Protected E-UTRA Resource Indication
9.2.126	Data Traffic Resource Indication
9.2.127	Data Traffic Resources
9.2.128	Reserved Subframe Pattern
9.2.129	Aerial UE subscription information
9.2.130	User plane traffic activity report
