36444-e10.htm
9.1.3	MBMS SESSION START REQUEST
9.1.4	MBMS SESSION START RESPONSE
9.1.5	MBMS SESSION START FAILURE
9.1.6	MBMS SESSION STOP REQUEST
9.1.7	MBMS SESSION STOP RESPONSE
9.1.8	ERROR INDICATION
9.1.9	RESET
9.1.10	RESET ACKNOWLEDGE
9.1.11	MBMS SESSION UPDATE REQUEST
9.1.12	MBMS SESSION UPDATE RESPONSE
9.1.13	MBMS SESSION UPDATE FAILURE
9.1.14	M3 SETUP REQUEST
9.1.15	M3 SETUP RESPONSE
9.1.16	M3 SETUP FAILURE
9.1.17	MCE CONFIGURATION UPDATE
9.1.18	MCE CONFIGURATION UPDATE ACKNOWLEDGE
9.1.19	MCE CONFIGURATION UPDATE FAILURE
9.2.1.1	Message Type *
9.2.1.2	Cause *
9.2.1.3	MBMS E-RAB QoS parameters *
9.2.1.5	GBR QoS Information *
9.2.1.6	Bit Rate *
9.2.1.7	Criticality Diagnostics *
9.2.1.8	Allocation and Retention Priority *
9.2.1.9	Time to Wait *
9.2.1.10	Global MCE ID *
9.2.1.11	MBMS Cell List *
9.2.1.12	E-UTRAN CGI *
9.2.2.1	IP Address *
9.2.2.2	GTP-TEID *
9.2.3.1	MCE MBMS M3AP ID *
9.2.3.2	MME MBMS M3AP ID *
9.2.3.3	TMGI *
9.2.3.4	MBMS Session Identity *
9.2.3.5	MBMS Session Duration *
9.2.3.6	MBMS Service Area *
9.2.3.7	PLMN Identity *
9.2.3.8	Minimum Time to MBMS Data Transfer *
9.2.3.9	Absolute Time of MBMS Data *
9.2.3.10	Re-establishment *
