36443-e01.htm
9.1.2	MBMS SESSION START REQUEST
9.1.3	MBMS SESSION START RESPONSE
9.1.4	MBMS SESSION START FAILURE
9.1.5	MBMS SESSION STOP REQUEST
9.1.6	MBMS SESSION STOP RESPONSE
9.1.7	MBMS SCHEDULING INFORMATION
9.1.8	MBMS SCHEDULING INFORMATION RESPONSE
9.1.9	RESET
9.1.10	RESET ACKNOWLEDGE
9.1.11	M2 SETUP REQUEST
9.1.12	M2 SETUP RESPONSE
9.1.13	M2 SETUP FAILURE
9.1.14	ENB CONFIGURATION UPDATE
9.1.15	ENB CONFIGURATION UPDATE ACKNOWLEDGE
9.1.16	ENB CONFIGURATION UPDATE FAILURE
9.1.17	MCE CONFIGURATION UPDATE
9.1.18	MCE CONFIGURATION UPDATE ACKNOWLEDGE
9.1.19	MCE CONFIGURATION UPDATE FAILURE
9.1.20	ERROR INDICATION
9.1.21	MBMS SESSION UPDATE REQUEST
9.1.22	MBMS SESSION UPDATE RESPONSE
9.1.23	MBMS SESSION UPDATE FAILURE
9.1.24	MBMS SERVICE COUNTING REQUEST
9.1.25	MBMS SERVICE COUNTING RESPONSE
9.1.26	MBMS SERVICE COUNTING FAILURE
9.1.27	MBMS SERVICE COUNTING RESULTS REPORT
9.1.28	MBMS OVERLOAD NOTIFICATION
9.2.1.1	Message Type *
9.2.1.2	Cause *
9.2.1.7	Criticality Diagnostics *
9.2.1.8	PMCH Configuration *
9.2.1.9	MBMS Session List per PMCH *
9.2.1.10	Global eNB ID *
9.2.1.11	E-UTRAN CGI *
9.2.1.12	eNB MBMS Configuration data Item *
9.2.1.13	MCCH related BCCH Configuration Item *
9.2.1.14	MBSFN Area Id *
9.2.1.15	Time to Wait *
9.2.1.16	Global MCE ID *
9.2.1.17	MBSFN Subframe Configuration *
9.2.1.18	Common Subframe Allocation Period *
9.2.1.19	MCCH Update Time *
9.2.1.20	MBSFN Synchronisation Area Id *
9.2.1.21	Counting Result *
9.2.1.22	SC-PTM information *
9.2.1.23	MBMS E-RAB QoS parameters *
9.2.1.24	GBR QoS Information *
9.2.1.25	Bit Rate *
9.2.1.26	Allocation and Retention Priority *
9.2.2.1	IP Address *
9.2.2.2	GTP-TEID *
9.2.3.1	MCE MBMS M2AP ID *
9.2.3.2	eNB MBMS M2AP ID *
9.2.3.3	TMGI *
9.2.3.4	MBMS Session Identity *
9.2.3.6	MBMS Service Area *
9.2.3.7	PLMN Identity *
