36459-e00.htm
9.1.1	MEASUREMENT REQUEST
9.1.2	MEASUREMENT RESPONSE
9.1.3	MEASUREMENT FAILURE
9.1.4	SLm SETUP REQUEST
9.1.5	SLm SETUP RESPONSE
9.1.6	SLm SETUP FAILURE
9.1.7	RESET REQUEST
9.1.8	RESET ACKNOWLEDGE
9.1.9	MEASUREMENT ABORT
9.1.10	MEASUREMENT UPDATE
9.1.11	ERROR INDICATION
9.2.2	Message Type *
9.2.3	SLmAP Transaction ID *
9.2.4	UL RTOA Measurement Configuration *
9.2.5	UL RTOA Measurements *
9.2.6	LMU ID *
9.2.7	E-SMLC ID *
9.2.8	LMU Information *
9.2.9	LMU Position *
9.2.10	Cause *
9.2.11	Criticality Diagnostics *
9.2.12	E-SMLC Measurement ID *
