38413-100.htm
9.2.1.1	PDU SESSION RESOURCE SETUP REQUEST
9.2.1.2	PDU SESSION RESOURCE SETUP RESPONSE
9.2.1.3	PDU SESSION RESOURCE RELEASE COMMAND
9.2.1.4	PDU SESSION RESOURCE RELEASE RESPONSE
9.2.1.5	PDU SESSION RESOURCE MODIFY REQUEST
9.2.1.6	PDU SESSION RESOURCE MODIFY RESPONSE
9.2.1.7	PDU SESSION RESOURCE NOTIFY
9.2.1.8	PDU SESSION RESOURCE MODIFY INDICATION
9.2.1.9	PDU SESSION RESOURCE MODIFY CONFIRM
9.2.2.1	INITIAL CONTEXT SETUP REQUEST
9.2.2.2	 INITIAL CONTEXT SETUP RESPONSE
9.2.2.3	INITIAL CONTEXT SETUP FAILURE
9.2.2.4	UE CONTEXT RELEASE REQUEST
9.2.2.5	UE CONTEXT RELEASE COMMAND
9.2.2.6	UE CONTEXT RELEASE COMPLETE
9.2.2.7	UE CONTEXT MODIFICATION REQUEST
9.2.2.8	UE CONTEXT MODIFICATION RESPONSE
9.2.2.9	UE CONTEXT MODIFICATION FAILURE
9.2.3.1	HANDOVER REQUIRED
9.2.3.2	HANDOVER COMMAND
9.2.3.3	HANDOVER PREPARATION FAILURE
9.2.3.4	HANDOVER REQUEST
9.2.3.5	HANDOVER REQUEST ACKNOWLEDGE
9.2.3.6	HANDOVER FAILURE
9.2.3.7	HANDOVER NOTIFY
9.2.3.8	PATH SWITCH REQUEST
9.2.3.9	PATH SWITCH REQUEST ACKNOWLEDGE
9.2.3.10	PATH SWITCH REQUEST FAILURE
9.2.3.11	HANDOVER CANCEL
9.2.3.12	HANDOVER CANCEL ACKNOWLEDGE
9.2.3.13	UPLINK RAN STATUS TRANSFER
9.2.3.14	DOWNLINK RAN STATUS TRANSFER
9.2.4.1	PAGING
9.2.5.1	INITIAL UE MESSAGE
9.2.5.2	DOWNLINK NAS TRANSPORT
9.2.5.3	UPLINK NAS TRANSPORT
9.2.5.4	NAS NON DELIVERY INDICATION
9.2.5.5	REROUTE NAS REQUEST
9.2.6.1	NG SETUP REQUEST
9.2.6.2	NG SETUP RESPONSE
9.2.6.3	NG SETUP FAILURE
9.2.6.4	RAN CONFIGURATION UPDATE
9.2.6.5	RAN CONFIGURATION UPDATE ACKNOWLEDGE
9.2.6.6	RAN CONFIGURATION UPDATE FAILURE
9.2.6.7	AMF CONFIGURATION UPDATE
9.2.6.8	AMF CONFIGURATION UPDATE ACKNOWLEDGE
9.2.6.9	AMF CONFIGURATION UPDATE FAILURE
9.2.6.10	AMF STATUS INDICATION
9.2.6.11	NG RESET
9.2.6.12	NG RESET ACKNOWLEDGE
9.2.6.13	ERROR INDICATION
9.2.7.1	UPLINK RAN CONFIGURATION TRANSFER
9.2.7.2	DOWNLINK RAN CONFIGURATION TRANSFER
9.2.8.1	WRITE-REPLACE WARNING REQUEST
9.2.8.2	WRITE-REPLACE WARNING RESPONSE
9.2.8.3	PWS CANCEL REQUEST
9.2.8.4	PWS CANCEL RESPONSE
9.2.8.5	PWS RESTART INDICATION
9.2.8.6	PWS FAILURE INDICATION
9.2.9.1	DOWNLINK UE ASSOCIATED NRPPA TRANSPORT
9.2.9.2	UPLINK UE ASSOCIATED NRPPA TRANSPORT
9.2.9.3	DOWNLINK NON UE ASSOCIATED NRPPA TRANSPORT
9.2.9.4	UPLINK NON UE ASSOCIATED NRPPA TRANSPORT
9.2.10.1	TRACE START
9.2.10.2	TRACE FAILURE INDICATION
9.2.10.3	DEACTIVATE TRACE
9.2.10.4	CELL TRAFFIC TRACE
9.2.11.1	LOCATION REPORTING CONTROL
9.2.11.2	LOCATION REPORTING FAILURE INDICATION
9.2.11.3	LOCATION REPORT
9.2.12.1	UE TNLA BINDING RELEASE REQUEST
9.2.13.1	UE CAPABILITY INFO INDICATION
9.2.13.2	UE RADIO CAPABILITY CHECK REQUEST
9.2.13.3	UE RADIO CAPABILITY CHECK RESPONSE
9.3.1.1	Message Type *
9.3.1.2	Cause *
9.3.1.3	Criticality Diagnostics *
9.3.1.4	Bit Rate *
9.3.1.5	Global RAN Node ID *
9.3.1.6	Global gNB ID *
9.3.1.7	NR CGI *
9.3.1.8	Global ng-eNB ID *
9.3.1.9	E-UTRA CGI *
9.3.1.10	GBR QoS Flow Information *
9.3.1.11	PDU Session List *
9.3.1.12	QoS Flow Level QoS Parameters *
9.3.1.13	QoS Flow List *
9.3.1.14	Trace Activation *
9.3.1.15	RRC Inactive Assistance Information *
9.3.1.16	User Location Information *
9.3.1.17	Slice Support List *
9.3.1.18	Dynamic 5QI Descriptor *
9.3.1.19	Allocation and Retention Priority *
9.3.1.20	Source to Target Transparent Container *
9.3.1.21	Target to Source Transparent Container *
9.3.1.22	Handover Type *
9.3.1.23	MICO Mode Indication *
9.3.1.24	S-NSSAI *
9.3.1.25	Target ID *
9.3.1.26	Emergency Fallback Indicator *
9.3.1.27	Security Indication *
9.3.1.28	Non Dynamic 5QI Descriptor *
9.3.1.29	Source NG-RAN Node to Target NG-RAN Node Transparent Container *
9.3.1.30	Target NG-RAN Node to Source NG-RAN Node Transparent Container *
9.3.1.31	Allowed NSSAI *
9.3.1.32	Relative AMF Capacity *
9.3.1.33	DL Forwarding *
9.3.1.34	DRBs to QoS Flows Mapping List *
9.3.1.35	Message Identifier *
9.3.1.36	Serial Number *
9.3.1.37	Warning Area List *
9.3.1.38	Number of Broadcasts Requested *
9.3.1.39	Warning Type *
9.3.1.40	Warning Security Information *
9.3.1.41	Data Coding Scheme *
9.3.1.42	Warning Message Contents *
9.3.1.43	Broadcast Completed Area List *
9.3.1.44	Broadcast Cancelled Area List *
9.3.1.45	Number of Broadcasts *
9.3.1.46	Concurrent Warning Message Indicator *
9.3.1.47	Cancel-All Warning Messages Indicator *
9.3.1.48	Emergency Area ID *
9.3.1.49	Repetition Period *
9.3.1.50	PDU Session ID *
9.3.1.51	QoS Flow Indicator *
9.3.1.52	PDU Session Type *
9.3.1.53	DRB ID *
9.3.1.54	Masked IMEISV *
9.3.1.55	KAMF Change Indicator *
9.3.1.56	Time to Wait *
9.3.1.57	Global N3IWF ID *
9.3.1.58	UE Aggregate Maximum Bit Rate *
9.3.1.59	Security Result *
9.3.1.60	User Plane Security Information *
9.3.1.61	Index to RAT/Frequency Selection Priority *
9.3.1.62	Data Forwarding Accepted *
9.3.1.63	Data Forwarding Not Possible *
9.3.1.64	Direct Forwarding Path Availability *
9.3.1.65	Location Reporting Request Type *
9.3.1.66	Area of Interest *
9.3.1.67	UE Presence in Area of Interest List *
9.3.1.68	UE Radio Capability for Paging *
9.3.1.69	Assistance Data for Paging *
9.3.1.70	Assistance Data for Recommended Cells *
9.3.1.71	Recommended Cells for Paging *
9.3.1.72	Paging Attempt Information *
9.3.1.73	NG-RAN CGI *
9.3.1.74	UE Radio Capability *
9.3.1.75	Time Stamp *
9.3.1.76	Location Reporting Reference ID *
9.3.1.77	Data Forwarding Response DRB List *
9.3.1.78	Paging Priority *
9.3.1.79	Packet Loss Rate *
9.3.1.80	Packet Delay Budget *
9.3.1.81	Packet Error Rate *
9.3.1.82	Averaging Window *
9.3.1.83	Maximum Data Burst Volume *
9.3.1.84	Priority Level *
9.3.1.85	Mobility Restriction List *
9.3.1.86	UE Security Capabilities *
9.3.1.87	Security Key *
9.3.1.88	Security Context *
9.3.1.89	IMS Voice Support Indicator *
9.3.2.1	UP TNL Information *
9.3.2.2	UP Transport Layer Information *
9.3.2.3	E-RAB ID *
9.3.2.4	Transport Layer Address *
9.3.2.5	GTP-TEID *
9.3.2.6	CP Transport Layer Information *
9.3.2.7	TNL Association List *
9.3.3.1	AMF UE NGAP ID *
9.3.3.2	RAN UE NGAP ID *
9.3.3.3	GUAMI *
9.3.3.4	NAS-PDU *
9.3.3.5	PLMN Identity *
9.3.3.6	SON Configuration Transfer *
9.3.3.7	SON Information *
9.3.3.8	SON Information Reply *
9.3.3.9	Xn TNL Configuration Info *
9.3.3.10	TAC *
9.3.3.11	TAI *
9.3.3.12	AMF Set ID *
9.3.3.13	Routing ID *
9.3.3.14	NRPPa-PDU *
9.3.3.15	RAN Paging Priority *
9.3.3.16	EPS TAC *
9.3.3.17	EPS TAI *
9.3.3.18	UE Paging Identity *
9.3.3.19	AMF Pointer *
9.3.3.20	5G-S-TMSI *
9.3.3.21	AMF Name *
9.3.3.22	Paging Origin *
9.3.4.1	PDU Session Resource Setup Request Transfer *
9.3.4.2	PDU Session Resource Setup Response Transfer *
9.3.4.3	PDU Session Resource Modify Request Transfer *
9.3.4.4	PDU Session Resource Modify Response Transfer *
9.3.4.5	PDU Session Resource Notify Transfer *
9.3.4.6	PDU Session Resource Modify Indication Transfer *
9.3.4.7	PDU Session Resource Modify Confirm Transfer *
9.3.4.8	Path Switch Request Transfer *
9.3.4.9	Path Switch Request Acknowledge Transfer *
9.3.4.10	Handover Command Transfer *
9.3.4.11	Handover Request Acknowledge Transfer *
