38463-100.htm
9.2.1.1	RESET
9.2.1.2	RESET ACKNOWLEDGE
9.2.1.3	ERROR INDICATION
9.2.1.4	GNB-CU-UP E1 SETUP REQUEST
9.2.1.5	GNB-CU-UP E1 SETUP RESPONSE
9.2.1.6	GNB-CU-UP E1 SETUP FAILURE
9.2.1.7	GNB-CU-CP E1 SETUP REQUEST
9.2.1.8	GNB-CU-CP E1 SETUP RESPONSE
9.2.1.9	GNB-CU-CP E1 SETUP FAILURE
9.2.1.10	GNB-CU-UP CONFIGURATION UPDATE
9.2.1.11	GNB-CU-UP CONFIGURATION UPDATE ACKNOWLEDGE
9.2.1.12	GNB-CU-UP CONFIGURATION UPDATE FAILURE
9.2.1.13	GNB-CU-CP CONFIGURATION UPDATE
9.2.1.14	GNB-CU-CP CONFIGURATION UPDATE ACKNOWLEDGE
9.2.1.15	GNB-CU-CP CONFIGURATION UPDATE FAILURE
9.2.1.16	E1 RELEASE REQUEST 
9.2.1.17	E1 RELEASE RESPONSE 
9.2.2.1	BEARER CONTEXT SETUP REQUEST
9.2.2.2	BEARER CONTEXT SETUP RESPONSE
9.2.2.3	BEARER CONTEXT SETUP FAILURE
9.2.2.4	BEARER CONTEXT MODIFICATION REQUEST
9.2.2.5	BEARER CONTEXT MODIFICATION RESPONSE
9.2.2.6	BEARER CONTEXT MODIFICATION FAILURE
9.2.2.7	BEARER CONTEXT MODIFICATION REQUIRED
9.2.2.8	BEARER CONTEXT MODIFICATION CONFIRM
9.2.2.9	BEARER CONTEXT RELEASE COMMAND
9.2.2.10	BEARER CONTEXT RELEASE COMPLETE
9.2.2.11	BEARER CONTEXT RELEASE REQUEST
9.2.2.12	BEARER CONTEXT INACTIVITY NOTIFICATION
9.2.2.13	DL DATA NOTIFICATION
9.2.2.14	DATA USAGE REPORT
9.3.1.1	Message Type *
9.3.1.2	Cause *
9.3.1.3	Criticality Diagnostics *
9.3.1.4	gNB-CU-CP UE E1AP ID *
9.3.1.5	gNB-CU-UP UE E1AP ID *
9.3.1.6	Time To wait *
9.3.1.7	PLMN Identity *
9.3.1.8	Slice Support List *
9.3.1.9	S-NSSAI *
9.3.1.10	Security information *
9.3.1.11	Cell Group Information *
9.3.1.12	QoS Flow List *
9.3.1.13	UP Parameters *
9.3.1.14	NR CGI  *
9.3.1.15	gNB-CU-UP ID  *
9.3.1.16	DRB ID *
9.3.1.17	E-UTRAN QoS *
9.3.1.18	E-UTRAN Allocation and Retention Priority *
9.3.1.19	GBR QoS Information *
9.3.1.20	Bit Rate *
9.3.1.21	PDU Session ID *
9.3.1.22	PDU Session Type *
9.3.1.23	Security Indication *
9.3.1.24	QoS Flow Indicator *
9.3.1.25	QoS Flow QoS Parameters List *
9.3.1.26	QoS Flow Level QoS Parameters *
9.3.1.27	Non Dynamic 5QI Descriptor *
9.3.1.28	Dynamic 5QI Descriptor *
9.3.1.29	NG-RAN Allocation and Retention Priority *
9.3.1.30	GBR QoS Flow Information *
9.3.1.31	Security Algorithm *
9.3.1.32	User Plane Security Keys *
9.3.1.33	UL Configuration *
9.3.1.34	gNB-CU-UP Cell Group Related Information *
9.3.1.35	PDCP Count *
9.3.1.36	NR CGI Support List *
9.3.1.37	QoS Parameters Support List *
9.3.1.38	PDCP Configuration *
9.3.1.39	SDAP Configuration *
9.3.1.40	ROHC Parameters *
9.3.1.41	T-Reordering Timer *
9.3.1.42	Discard Timer *
9.3.1.43	UL Data Split Threshold *
9.3.1.44	Data Usage Report List *
9.3.1.45	 Flow Failed List *
9.3.1.46	Packet Loss Rate *
9.3.1.47	Packet Delay Budget *
9.3.1.48	Packet Error Rate *
9.3.1.49	Averaging Window *
9.3.1.50	Maximum Data Burst Volume *
9.3.1.51	Priority Level *
9.3.2.1	UP Transport Layer Information *
9.3.2.2	CP Transport Layer Information *
9.3.2.3	GTP-TEID *
9.3.2.4	Transport Layer Address *
9.3.2.5	Data Forwarding Information Request *
9.3.2.6	Data Forwarding Information Response *
