38473-f20.htm
9.2.1.1	RESET
9.2.1.2	RESET ACKNOWLEDGE
9.2.1.3	ERROR INDICATION
9.2.1.4	F1 SETUP REQUEST
9.2.1.5	F1 SETUP RESPONSE
9.2.1.6	F1 SETUP FAILURE
9.2.1.7	GNB-DU CONFIGURATION UPDATE
9.2.1.8	GNB-DU CONFIGURATION UPDATE ACKNOWLEDGE
9.2.1.9	GNB-DU CONFIGURATION UPDATE FAILURE
9.2.1.10	GNB-CU CONFIGURATION UPDATE
9.2.1.11	GNB-CU CONFIGURATION UPDATE ACKNOWLEDGE
9.2.1.12	GNB-CU CONFIGURATION UPDATE FAILURE
9.2.1.13	GNB-DU RESOURCE COORDINATION REQUEST
9.2.1.14	GNB-DU RESOURCE COORDINATION RESPONSE
9.2.2.1	UE CONTEXT SETUP REQUEST
9.2.2.2	UE CONTEXT SETUP RESPONSE
9.2.2.3	UE CONTEXT SETUP FAILURE
9.2.2.4	UE CONTEXT RELEASE REQUEST
9.2.2.5	UE CONTEXT RELEASE COMMAND
9.2.2.6	UE CONTEXT RELEASE COMPLETE
9.2.2.7	UE CONTEXT MODIFICATION REQUEST
9.2.2.8	UE CONTEXT MODIFICATION RESPONSE
9.2.2.9	UE CONTEXT MODIFICATION FAILURE
9.2.2.10	UE CONTEXT MODIFICATION REQUIRED
9.2.2.11	UE CONTEXT MODIFICATION CONFIRM
9.2.2.12	UE INACTIVITY NOTIFCATION
9.2.2.13	 NOTIFY
9.2.3.1	INITIAL UL RRC MESSAGE TRANSFER
9.2.3.2	DL RRC MESSAGE TRANSFER
9.2.3.3	UL RRC MESSAGE TRANSFER
9.2.4.1	WRITE-REPLACE WARNING REQUEST
9.2.4.2	WRITE-REPLACE WARNING RESPONSE
9.2.4.3	PWS CANCEL REQUEST
9.2.4.4	PWS CANCEL RESPONSE
9.2.4.5	PWS RESTART INDICATION
9.2.4.6	PWS FAILURE INDICATION
9.2.5.1	SYSTEM INFORMATION DELIVERY COMMAND
9.2.6.1	PAGING
9.3.1.1	Message Type
9.3.1.2	Cause
9.3.1.3	Criticality Diagnostics
9.3.1.4	gNB-CU UE F1AP ID
9.3.1.5	gNB-DU UE F1AP ID
9.3.1.6	RRC-Container
9.3.1.7	SRB ID
9.3.1.8	DRB ID
9.3.1.9	gNB-DU ID
9.3.1.10	Served Cell Information
9.3.1.11	Transmission Stop Indicator
9.3.1.12	NR CGI
9.3.1.13	Time To wait
9.3.1.14	PLMN Identity
9.3.1.15	Transmission Bandwidth
9.3.1.17	NR Frequency Info
9.3.1.18	gNB-DU System Information
9.3.1.19	E-UTRAN QoS
9.3.1.20	Allocation and Retention Priority
9.3.1.21	GBR QoS Information
9.3.1.22	Bit Rate
9.3.1.23	Transaction ID
9.3.1.24	DRX Cycle
9.3.1.25	CU to DU RRC Information
9.3.1.26	DU to CU RRC Information
9.3.1.27	RLC Mode
9.3.1.28	SUL Information
9.3.1.29	5GS TAC
9.3.1.29a   Configured EPS TAC
9.3.1.30	RRC Reconfiguration Complete Indicator
9.3.1.31	UL Configuration
9.3.1.32	C-RNTI
9.3.1.33	Cell UL Configured
9.3.1.34	RAT-Frequency Priority Information
9.3.1.35	LCID
9.3.1.36	Duplication activation
9.3.1.37	Slice Support List
9.3.1.38	S-NSSAI
9.3.1.39	UE Identity Index value
9.3.1.40	Paging DRX
9.3.1.41	Paging Priority
9.3.1.42	gNB-CU System Information
9.3.1.43	RAN UE Paging identity
9.3.1.44	CN UE Paging Identity
9.3.1.45	QoS Flow Level QoS Parameters
9.3.1.46	GBR QoS Flow Information
9.3.1.47	Dynamic 5QI Descriptor
9.3.1.48	NG-RAN Allocation and Retention Priority
9.3.1.49	Non Dynamic 5QI Descriptor
9.3.1.50	Maximum Packet Loss Rate
9.3.1.51	Packet Delay Budget
9.3.1.52	Packet Error Rate
9.3.1.53	Averaging Window
9.3.1.54	Maximum Data Burst Volume
9.3.1.55	Masked IMEISV
9.3.1.56	Notification Control
9.3.1.57	RAN Area Code
9.3.1.58	PWS System Information
9.3.1.59	Repetition Period
9.3.1.60	Number of Broadcasts Requested
9.3.1.61	Concurrent Warning Message Indicator
9.3.1.62	SIBType List
9.3.1.63	QoS Flow Indicator
9.3.1.64	Served E-UTRA Cell Information
9.3.2.1	UP Transport Layer Information
9.3.2.2	GTP-TEID
9.3.2.3	Transport Layer Address
9.3.2.4	CP Transport Layer Information
